@font-face {
    font-family: space-grotesk;
    src: url('/public/space-grotesk.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

body,
p {
    margin: 0;
    font-family: space-grotesk;
}
body {
    background: #e8e8e8;
}

main {
    display: flex;
    flex-direction: row;
}

input,
select,
textarea {
    border-radius: 4px;
    border: 0;
    padding: 8px;
    font-family: space-grotesk;
}

textarea {
    min-width: 30vw;
}

button {
    border: 0;
    background-color: #ff8a00;
    padding: 8px 16px;
    font-family: space-grotesk;
    border-radius: 4px;
}

button:hover {
    background-color: #ff9e2e;
    cursor: pointer;
}

button:active {
    background-color: #ffc787;
}

button:disabled {
    cursor: not-allowed;
    background-color: #ff8a00;
}

.button-xs {
    padding: 2px 6px;
    font-size: 12px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-settings {
    padding: 16px;
    padding-bottom: 64px;
}
.editing {
    padding: 8px;
    background-color: white;
    border-radius: 4px;
}

img {
    max-width: 100%;
}
