.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;
}

.welcome-page > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    list-style: none;
}
